<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование разработчика</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">GameStats</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Главная</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container" >
    <div class="row">
        <div class="col-12">
            <form action="#" th:action="@{gameDevelopers/edit}" method="post">
                <!-- Используем скрытое поле (hidden), чтобы незаметно пробрасывать в форму id записи -->
                <!-- Используем data-th-value для задания значения полю -->
                <input id="id" name="id" hidden data-th-value="${developerDTO.id}">
                <div class="row my-3">
                    <label for="name" class="col-sm-2 col-form-label">Название</label>
                    <div class="col-8">
                        <input data-th-value="${developerDTO.name}" type="text" class="form-control" name="name" id="name">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-text="${#fields.errors('developerDTO.name')}"
                            data-th-if="${#fields.hasErrors('developerDTO.name')}"
                    ></div>
                </div>
                <div class="row my-3">
                    <label for="name" class="col-sm-2 col-form-label">Сайт</label>
                    <div class="col-8">
                        <input data-th-value="${developerDTO.website}" type="text" class="form-control" name="website" id="website">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-text="${#fields.errors('developerDTO.website')}"
                            data-th-if="${#fields.hasErrors('developerDTO.website')}"
                    ></div>
                </div>
                <div class="row my-3">
                    <label for="name" class="col-sm-2 col-form-label">Ссылка на картинку</label>
                    <div class="col-8">
                        <input data-th-value="${developerDTO.logoUrl}" type="text" class="form-control" name="logoUrl" id="logoUrl">
                    </div>
                    <div
                            class="alert alert-warning"
                            data-th-text="${#fields.errors('developerDTO.logoUrl')}"
                            data-th-if="${#fields.hasErrors('developerDTO.logoUrl')}"
                    ></div>
                </div>
                <div class="row my-3">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>